<div class='userEditPage'>
  <div class='header'>編集</div>
  <div class='container'>
    <%= form_for current_user, url: registration_path(current_user) do |f| %>
      <div class="form-group">
        <%= f.label '名前' %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label '自己紹介 or 仕事紹介' %>
        <%= f.text_area :introduction, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label '勤務地' %>
        <%= f.text_field :work_location, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label '勤務時間' %>
        <%= f.text_field :work_time, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label '入社希望日' %>
        <%= f.text_field :start_date, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label '給料' %>
        <%= f.text_field :salary, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label '新型コロナ対策' %>
        <%= f.text_area :corona_support, class: "form-control" %>
      </div>
      <div class="form-group">
        性別:
        <%= f.label '求人者' %>
        <%= f.radio_button :status, :求人者 %>
        <%= f.label '求職者' %>
        <%= f.radio_button :status, :求職者 %>
      </div>
      <div class="form-group">
        画像:
        <%= f.file_field :img_name %>
      </div>

      <div class="form-group">
        <%= f.label '更新するにはパスワードを入力してください' %>
        <%= f.password_field :current_password, class: "form-control", autocomplete: "off" %>
      </div>
      <div class="text-center">
        <%= f.submit '更新', class: "btn submitBtn" %>
      </div>

    <% end %>
  </div>
</div>